<div class="pagination">
  <%= will_paginate @articlees, :container => false %>
</div>
<div class="container flex-column">
  <%= render 'articles' %>
</div>
<div class="pagination bottom">
  <%= will_paginate @articles, :container => false %>
</div>
