<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the ALPHA of all Blogs!</h1>
    <p>*display preview articles on page and describe features*</p>
    <a href="#" ><%= link_to "Create account", signup_path%></a>
  </div>
</div>
