<div class="card text-center container py-4 col-8">
  <div class="card-header">
    <h1 class = "text-center mt-4" >Welcome to the homepage!</h1>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Sign up here!</h5>
    <p class="card-text">click the button below to create an account</p>
    <a href="#" ><%= link_to "Create account", signup_path, class: "btn btn-primary"%></a>
  </div>
</div>

