<h1 class = "text-center mt-4" >Welcome to the homepage!</h1>



<div class="card text-center container py-4 col-8">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link to about page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Sign in here!</h5>
    <p class="card-text">click the button below to be taken to the user creation page</p>
    <a href="#" class="btn btn-primary">Create account</a>
  </div>
</div>

