<div class="container">
  <div class="jumbotron">
    <h1 >Welcome to the ALPHA of all Blogs!</h1>
    <h5>Sign up here!</h5>
    <p >click the button below to create an account</p>
    <a href="#" ><%= link_to "Create account", signup_path%></a>
  </div>
</div>
