/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --primary-color: #3c5c9b;
  --secondary-color: #aaffb8;
  --accent-color: #ef3e9c;
  --primary-dark: #250c75;
  --primary-light: #4a23d3;
  --light: 300;
  --regular: 400;

  /* #3c5c9b,#aaffb8,#ef3e9c,#250c75,#4a23d3 */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: var(--light);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex-end {
  justify-content: flex-end;
}

footer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  height: 1.5rem;
  align-items: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: var(--secondary-color);
}

.hidden {
  display: none;
}
