.article {
  margin: 1rem;
  color: whitesmoke;
  /* background-color: var(--primary-color); */
  width: 35rem;
  /* height: 12rem; */
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 0.18);
  color: var(--primary-dark);
}
.article header {
  background-color: var(--primary-color);
  color: whitesmoke;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
}
.article-title {
  font-size: 2.5rem;
  padding: 0.5rem;
  margin-left: 1rem;
  font-weight: var(--regular);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article-category {
  background-color: var(--primary-color);
  padding: 0.3rem;
  font-size: 0.7rem;
  border-radius: 25px;
}
.article-subheader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.article-body p {
  font-size: 1.5rem;
}
.article-body {
  display: flex;
  margin: 1rem;
}
.article-name {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 1rem 0;
}
.article-buttons {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
}
.article-buttons button {
  background-color: var(--primary-color);
  border: solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: var(--regular);
  padding: 0.6rem;
  border-radius: 10px;
  margin-top: 3rem;
}
.modal {
  z-index: 1;
  width: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.modal-param {
  filter: blur(2px);
}

.article-category a:link {
  color: whitesmoke !important;
}
.article-category a:visited {
  color: whitesmoke !important;
}
.article-category a:hover {
  color: var(--secondary-color) !important;
}
.article-category a:active {
  color: whitesmoke !important;
}
.article header a:link {
  color: whitesmoke;
}
.article header a:visited {
  color: whitesmoke;
}
.article header a:hover {
  color: var(--secondary-color);
}
.article header a:active {
  color: whitesmoke;
}
.article a:link {
  color: var(--primary-dark);
  text-decoration: none;
}
.article a:visited {
  color: var(--primary-dark);
  text-decoration: none;
}
.article a:hover {
  color: var(--primary-light);
  text-decoration: none;
}
.article a:active {
  color: var(--primary-dark);
  text-decoration: none;
}
.article-buttons button:hover {
  color: var(--accent-color);
}
.article-buttons button a:link {
  color: var(--secondary-color);
  font-weight: var(--regular);
}
.article-buttons button a:visited {
  color: var(--secondary-color);
}
.article-buttons button a:hover {
  color: var(--accent-color);
}
.article-buttons button a:active {
  color: var(--secondary-color);
}
