.article-form {
  background-color: var(--primary-color);
  /* width: 50%; */
  margin: 5px;
  padding: 1rem;
  border-radius: 20px;
}
.article-form input[type="text"] {
  font-size: 2rem;
}
.article-form textarea {
  font-size: 2rem;
  width: 80%;
  height: 4rem;
}
.article-form select {
  font-size: 1.2rem;
  height: 3rem;
}
.article-backdrop {
  background-color: var(--secondary-color);
  padding: 0.2rem;
  width: 50%;
  margin-left: 25%;
  border-radius: 20px;
}
