<h1 class = "text-center mt-4"> Create a new category<h1>

<div class="container justify-content-center">
     <div class = "row justify-content-center">
        <div class = "col-10">
        <%= render 'form'%>   
        </div>
        <div class ="container text-center fs-4">
            <%= link_to '[Cancel and return to categories index]', categories_path, class: "text-dark"%>
        </div>
   </div>
</div>



