<div class = " fixed-bottom " >
  <footer class = "py-2 bg-dark text-white fs-6 text-opacity-50">
    <div class = " container text-center ">
      <small> Made by Zachary Casares </small>
    </div>
  </footer>
</div>
