
<% flash.each do |name, msg|%>
    <div class="alert alert-success fs-6 alert-dismissible fade show" role="alert">
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%end%>

